@use 'sass:color';

@use '../mastodon/functions' with (
  $darken-multiplier: -1,
  $lighten-multiplier: 1
);

$black: #000; // Black
$white: #fff; // White
$blurple-500: #6364ff; // Brand purple
$blurple-300: #858afa; // Faded Blue
$grey-600: hsl(240deg, 8%, 33%); // Trout
$grey-100: hsl(240deg, 51%, 90%); // Topaz

$classic-base-color: hsl(240deg, 20%, 22%);
$classic-primary-color: hsl(240deg, 29%, 70%);
$classic-secondary-color: hsl(255deg, 25%, 88%);
$classic-highlight-color: $blurple-500;

@use '../mastodon/variables' with (
  $base-overlay-background: $black,

  $ui-base-color: $classic-base-color,
  $ui-base-lighter-color: lighten($classic-base-color, 26%),
  $ui-secondary-color: $classic-secondary-color,

  $ui-button-secondary-color: $blurple-500,
  $ui-button-secondary-border-color: $blurple-500,
  $ui-button-secondary-focus-color: $blurple-300,
  $ui-button-tertiary-color: $blurple-300,
  $ui-button-tertiary-border-color: $blurple-300,

  $primary-text-color: darken($white, 8%),
  $darker-text-color: lighten($classic-primary-color, 8%),
  $dark-text-color: lighten(lighten($classic-base-color, 26%), 12%),
  $highlight-text-color: lighten($classic-highlight-color, 12%),
  $lighter-text-color: lighten($classic-base-color, 26%),
  $light-text-color: $classic-primary-color,
  $inverted-text-color: $classic-base-color,

  $action-button-color: lighten($classic-base-color, 26%),
  $emojis-requiring-inversion: 'back' 'copyright' 'curly_loop'
    'currency_exchange' 'end' 'heavy_check_mark' 'heavy_division_sign'
    'heavy_dollar_sign' 'heavy_minus_sign' 'heavy_multiplication_x'
    'heavy_plus_sign' 'on' 'registered' 'soon' 'spider' 'telephone_receiver'
    'tm' 'top' 'wavy_dash'
);
