// Dependent colors
$black: #000000;
$white: #ffffff;

$classic-base-color: hsl(240deg, 16%, 19%);
$classic-primary-color: hsl(240deg, 29%, 70%);
$classic-secondary-color: hsl(255deg, 25%, 88%);
$classic-highlight-color: hsl(240deg, 100%, 69%);

$blurple-600: hsl(252deg, 59%, 51%); // Iris
$blurple-500: hsl(240deg, 100%, 69%); // Brand purple
$blurple-300: hsl(237deg, 92%, 75%); // Faded Blue
$grey-600: hsl(240deg, 8%, 33%); // Trout
$grey-100: hsl(240deg, 51%, 90%); // Topaz

$ui-base-color: $classic-base-color;

// basis
$foresdon-background-color: rgba(darken($ui-base-color, 4%), 0.82);
$foresdon-background-dark-color: rgba($ui-base-color, 0.9);
$foresdon-background-light-color: rgba($ui-base-color, 0.7);
$foresdon-background-lighter-color: rgba($ui-base-color, 0.3);
$foresdon-border-radius: 6px;
$foresdon-border-radius-top: $foresdon-border-radius $foresdon-border-radius 0 0;
$foresdon-border-radius-bottom: 0 0 $foresdon-border-radius
  $foresdon-border-radius;
