$foresdon-background-image: 'foresdon/foresdon-alefgard.png';

@use 'foresdon/variables';
@use 'foresdon/css_variables';
@use 'application';
@use 'foresdon/diff' with (
  $foresdon-background-image: 'foresdon/foresdon-alefgard.png'
);
